.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  bottom: 0;
  overflow: auto;
  max-height: 1200px;
  top: 2%;
  left: 5%;
  width: 90%;
  background-color: #A9927D;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal h3 {
  color: #22333B;
  font-size: x-large;
  text-align: center;
  border-bottom: double;
}

.modal h4 {
  color: #0A0908;
  font-size: large;
  text-align: center;
}

.modal p {
  color: #0A0908;
  font-size: medium;
  text-align: center;
}

.modal img {
  width: 25%;
  height: auto;
  max-height: 600px;
}

.button {
  background-color: #5E503F;
  border: none;
  color: #F2F4F3;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  float: right;
}

.button:hover {
  cursor: pointer;
  background-color: #22333B;
}

